div.banner {
    margin-top: 5ex;
    margin-bottom: 5ex;
}

table.buglist {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0.2em 1ex;
}

    td {
        padding: 1.4ex 1em;
        border: 2px solid #ddd;
        overflow: hidden;

        text-align: center;
    }

    tr + tr + tr > td {
        /* Reset the alignment after row 3 so that only the first 2 rows are
         * centered */
        text-align: inherit;

        padding: 4ex 1em;
    }

        td ul {
            padding-left: 0.5em;
        }

        td input {
            width: 100%;
        }

        td select {
            width: 100%;
        }

        td button {
            margin-top: 1ex;
            white-space: nowrap;
        }

        /* Styling for nested tables */
        td table td {
            border: inherit;
            padding: 0 0.5em;
            text-align: inherit;
        }


ul.menu > li {
    font-size: x-large;
    margin-top: 2ex;
}

p.footer { margin-top: 20ex }
