table {
    width: 100%;
    table-layout: fixed;
}

    td {
        padding: 1em 1ex;
        border: 2px solid #ddd;
        overflow: hidden;

        text-align: center;
    }

    tr + tr + tr td {
        /* Reset the alignment after row 3 so that only the first 2 rows are
         * centered */
        text-align: inherit;
    }

        td ul {
            padding-left: 1em;
        }

        td input {
            width: 100%;
        }

        td select {
            width: 100%;
        }

        td button {
            margin-top: 1ex;
            white-space: nowrap;
        }

        td table {
            text-align: center;
        }
            td table td {
                border: inherit;
                padding: inherit;
            }


ul.menu > li {
    font-size: x-large;
    margin-top: 2ex;
}

p.footer { margin-top: 10em }
