    <tr>
        <td>{% assign id = bug.path | split: "/" | last | remove: ".md" %}{% unless bug.private %}<a href="https://bugzilla.xamarin.com/show_bug.cgi?id={{ id }}">{% else %}Non-public {% endunless %}{{ id }}{% unless bug.private %}</a>{% endunless %}</td>
        <td>
            <ul>
                {% for tag in bug.tags %}<li>{{ tag }}</li>{% endfor %}
            </ul>
        </td>
        <td>{{ bug.summary | append: " " | markdownify | rstrip }}{{ bug.workaround | prepend: " " | markdownify | rstrip }}</td>
        <td>{{ bug.broken-since | append: " " | markdownify | rstrip }}</td>
        <td>{{ bug.fix | append: " " | markdownify | rstrip }}{% assign milestone = site.data.target-milestones[bug.target-milestone] | prepend:" " | rstrip %}{{ site.data.statuses[bug.status] | append: milestone | markdownify }}</td>
    </tr>
