    <colgroup>
        <col span="1" style="width: 6%" />
        <col span="1" style="width: 8%" />
        <col span="1" style="width: 47%" />
        <col span="1" style="width: 8%" />
        <col span="1" style="width: 5%" />
        <col span="1" style="width: 5%" />
        <col span="1" style="width: 5%" />
    </colgroup>{% assign columns = "Bug, Products, Summary, Broken Since<br />(Known Working), Fixed on Stable, Fixed on Beta, Fixed on Alpha, Additional Status" | split: ", " %}
    <tr>{% for column in columns %}<td>{{ column }}</td>{% endfor %}</tr>
    <tr class="filters">{% capture trash %}{% increment i %}{% endcapture %}{% for column in columns %}<td>{% if column contains "Fixed on" %}<select><option selected="true" value="all">All</option><option value="fixed">Fixed</option><option value="open">Open</option></select>{% else %}Filter <input type="text" tabindex="{% increment i %}" {% if column == "Bug" %}id="bug-filter" {% endif %}/>{% endif %} <button class="clear">Clear</button></td>{% endfor %}</tr>
