<script>
$("input").keypress (function (event) {
    if (event.which == 13) {
        filterRows ();
    }
});
$(".clear").click(function () {
    $(this).closest ("td").children ("input").val ("");
    $(this).closest ("td").children ("select").prop ("selectedIndex", 0);
    filterRows ();
});
$("select").change (function () {
    filterRows ();
});

var filterRows = function () {
    $("tr").slice (2).each (function (index) {
        var row = this;
        var hide = false;
        $(row).children ("td").each (function (index) {
            var cell = this;
            var bugFilter = ($($("tr.filters").children ("td") [index]).children ().filter ("input, select")) [0];
            if ($(bugFilter).is ('input')) {
                if (bugFilter.value == "") {
                    return;
                }
                var re = new RegExp (bugFilter.value, "i");
                if (!re.test ($.trim($(cell).text ()))) {
                    hide = true;
                    return false;
                }
            }
            else {
                if (bugFilter.value == "all") {
                    return;
                }
                var released = $(cell).text ().indexOf ("X") > -1;
                if (bugFilter.value == "fixed" && !released) {
                    hide = true;
                    return false;
                }
                if (bugFilter.value == "open" && released) {
                    hide = true;
                    return false;
                }
            }
        });
        if (hide) { $(row).hide (); }
        else { $(row).show (); }
    })
};
</script>
