<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{% if page.dir != '/' %}../{% endif %}css/screen.css" type="text/css" />
    <script src="{% if page.dir != '/' %}../{% endif %}assets/jquery.js"></script>
    <script src="{% if page.dir != '/' %}../{% endif %}assets/jquery.ba-hashchange.min.js"></script>
</head>
<body>
<h1>{{ page.title }}</h1>
<div class="banner">
  <hr />
  <p style="font-size: large">[<strong>Experimental</strong>] This website is an experimental prototype. It contains up-to-date and accurate information, so it might already be helpful for some "real world" use cases. <em>But</em> the site does not contain every active <a href="https://bugzilla.xamarin.com">Bugzilla</a> bug, and it will likely change significantly or be replaced by a different tool in the future.</p>
  <hr />
</div>
{{ content }}
</body>
</html>

