---
layout: basic
---
<ul>
    <li><p>The issues are sorted in descending order of Priority. Priority takes into consideration both the severity of the bug and an estimate of how many users are likely to encounter the issue based on the information gathered so far.</p></li>
    <li><p>Each "Filter" text field performs a case-insensitive regular expression search for each word. (Use quotation marks to preserve spaces, as in "a b".)</p></li>
    <li><p>Hint: A good first step to search for an issue is to enter a keyword or a part of an error message under the "Summary" filter.</p></li>
</ul>
<table class="buglist">
{{ content }}
</table>
{% include setup_search.html %}
